* {
    box-sizing: border-box;
    font-family: 'Kdam Thmor Pro', sans-serif;
    text-align: center;
    list-style: none;
    justify-content: center;
    padding-top: 5px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.79);
} 

body{
    padding: 0;
    
}
.hide{
    display: none;
}

.green{
    background-color: green;
}

.bg-green{
    background-color: aquamarine
}

.red{
    background-color: red;
}

.container{
    background-color: aquamarine;
    padding: px;
}
#timer{
    margin-bottom: auto;
}
#initials{
    /* justify-content: center; */
    color: red;
    margin-left: auto;
    margin-right: auto;
}

#heading-title{
    background-color: rgba(0, 0, 0, 0.372);
}

#question-title{
    background-color: rgba(0, 0, 0, 0.372);
}

#section-question{
    background-color: aquamarine;
    
}

li{
    background-color: rgba(255, 0, 0, 0.372);
}

#end-game{
    background-color: aquamarine;
}
#start-btn{
    color: rgb(255, 204, 0);
    background-color: hwb(310 17% 34%);
}
.question-choice{
    color: rgb(255, 204, 0);
    background-color: hwb(310 17% 34%);
}
